.hero-section {
  margin-top: 10px;
}
.hero-section img {
  width: 100%;
  object-fit: cover;
}
.hero-container {
  position: relative;
}
.hero-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 60px 70px;
  display: flex;
  justify-content: space-between;
}
/* ************ Right ********* */
.hero-content-right {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-content-right h1 {
  color: var(--color-white);
  font-size: 45px;
  font-weight: 600;
  line-height: 1.5;
}
.download-content {
  width: 200px;
}
.hero-content-right p {
  color: var(--color-white);
  font-size: 18px;
  margin-bottom: 10px;
}
.hero-content-right span {
  background-color: var(--color-purple);
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}
.hero-content-right span a {
  font-size: 25px;
  color: var(--color-white);
}
.hero-content-right .playstore-android {
  background-color: var(--color-white);
}
.hero-content-right .playstore-android a {
  color: var(--color-purple);
}

/* ************ Left ********* */
.hero-content img {
  height: 100%;
  object-fit: cover;
}

/* ======== TABLET ======== */
@media screen and (max-width: 990px) {
  .hero-container {
    display: flex;
    justify-content: center;
  }
  .hero-container > img{
    height: 600px;
    width: 95%;
    border-radius: 30px;
  }
  .hero-content {
    padding: 40px 40px;
  }
  .hero-content-right h1 {
    font-size: 30px;
    line-height: 1.4;
  }
  .hero-content-right p {
    font-size: 16px;
  }
}
/* ======== Mobile ======== */
@media screen and (max-width: 600px) {
  .hero-container > img{
    height: 520px;
    width: 95%;
    border-radius: 30px;
  }
  .hero-content-left > img{
    display: none;
  }
  .hero-content {
    padding: 12px 20px;
  }
  .hero-content-right h1 {
    font-size: 30px;
    line-height: 1.4;
    /* width: 70%; */
  }
  .hero-content-right p {
    font-size: 18px;
    margin-top: 8px;
  }
  .hero-content-right {
    width: 225px;
    justify-content: center;
    margin-right: 15px;
  }
  .hero-content-right span a {
    font-size: 20px;
  }
}
