.cardVisit {
  width: 23.5%;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
}
.cardVisit:nth-child(1) {
  width: 49%;
  max-height: 260px;
}
.cardVisit.w-50 {
  width: 49%;
  max-height: 278px;
}
.bg-simi-dark{
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.cardVisit img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  object-fit: cover;
}
.cardVisit.w-50 p {
  position: absolute;
  top: 10%;
  right: 20px;
  color: var(--color-white);
  width: 200px;
  font-size: 22px;
  font-weight: 500;
}
.cardVisit-content {
  position: absolute;
  bottom: 15%;
  right: 20px;
  color: var(--color-white);
}
.cardVisit-content .cardVisit-content-title {
  margin-left: 5px;
}
.cardVisit-content span {
  font-size: 25px;
}
.cardVisit-content .rate {
  color: #ffde00;
}
.cardVisit-content .rate span {
  margin-left: 2px;
}
.cardVisit-content-city {
  font-size: 14px;
  margin-top: 4px;
}

/* ====== TABLET ======== */
@media screen and (max-width: 990px) {
  .cardVisit {
    width: 49%;
  }
  .cardVisit:nth-child(1) {
    width: 100%;
  }
}
/* ====== MOBILE ======== */
@media screen and (max-width: 600px) {
  .cardVisit:nth-child(1) {
    width: 100%;
  }
  .cardVisit.w-50 {
    width: 100%;
  }
}