.travels-section {
  min-height: calc(100vh - (70px + 160px));
}
.travels-container {
  margin-top: 20px;
}

/* ========== filters =========== */
.travels-filters {
  margin-top: 15px;
  margin-bottom: 25px;
}
.travels-filters .filter-btns {
  display: flex;
  flex-wrap: wrap;
}
.travels-filters .filter-btns a {
  border: none;
  color: #433d49;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
}
.travels-filters .filter-btns a:hover {
  color: var(--color-purple);
}
.btn-blue-active {
  color: red !important;
}
/*  ========== Cards Travels ============ */
.cards-travels-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

/* ====== TABLET ======== */
@media screen and (max-width: 990px) {
  .travels-filters {
    padding: 0 10px;
  }
  .travels-filters .filter-btns button {
    margin-bottom: 5px;
  }
  .travels-search-div > div {
    width: 60%;
  }
}
/* ====== MOBILE ======== */
@media screen and (max-width: 600px) {
  .travels-search-div > div {
    width: 80%;
  }
  .cards-travels-div {
    padding: 0 15px;
  }
  .travels-filters .filter-btns {
    padding: 0 5px;
  }
}
