.btn-purple {
  background-color: var(--color-purple);
  color: var(--color-white);
  box-shadow: 0 6px 6px #11111021;
}
.btn-purple:hover {
  background-color: var(--color-white);
  color: var(--color-purple);
}
